<div class="container">
  <div id="clocks">
    <div>Local: <span class="clock">{{localTime}}</span></div>
    <div>UTC: <span class="clock">{{utcTime}}</span></div>
  </div>

  <div *ngIf="!connected" class="freq_mode">Disconnected</div>

  <div *ngIf="connected" class="freq_mode">
    <span class="seven-segment">{{freq}}</span><span> MHz {{mode}}</span>
  </div>

  <div class="s-meter-container" #meterContainer>
      <canvas #meterCanvas style="width:100%; height:100%;"></canvas>
  </div>
  <div class="signal-strength">{{signalStrength}}</div>
</div>

<radial-gauge
  #gauge
  *ngIf="showGauge"
  style="display:none"
  id="s-meter"
  [options]="gaugeOptions"
  [value]="sValue"
>
</radial-gauge>
