<div class="container">
  <div id="clocks">
    <div>Local: <span class="clock">{{localTime}}</span></div>
    <div>UTC: <span class="clock">{{utcTime}}</span></div>
  </div>

  <div class="freq_mode">
    <span class="seven-segment">{{freq}}</span><span> MHz {{mode}}</span>
  </div>

  <div class="s-meter-container">
    <radial-gauge
      id="s-meter"
      [options]="gaugeOptions"
      [value]="sValue"
    >
    </radial-gauge>
  </div>
  <div class="signal-strength">{{signalStrength}}</div>

</div>
